<section>
  <h1>Blogs</h1>
  <ul>
    <li>
      <a href="{{ root_url }}/category/going-to-otago">Going to Otago</a>
    </li>
    <li>
      <a href="{{ root_url }}/category/bachelor-in-london">Bachelor in London</a>
    </li>
    <li>
      <a href="{{ root_url }}/category/linux">Tux's World</a>
    </li>
    <li>
      <a href="{{ root_url }}/category/sci-log">Sci-Log</a>
    </li>
    <li>
      <a href="{{ root_url }}/category/distributed-computing">Distributed Computing</a>
    </li>
    <li>
      <a href="{{ root_url }}/category/diverses">Diverses</a>
    </li>
  </ul>
</section>