<section>
  <h1>Blogs</h1>
  <ul>
    <li>
      <a href="{{ root_url }}/blog/categories/going-to-otago">Going to Otago</a>
    </li>
    <li>
      <a href="{{ root_url }}/blog/categories/bachelor-in-london">Bachelor in London</a>
    </li>
    <li>
      <a href="{{ root_url }}/blog/categories/linux">Tux's World</a>
    </li>
    <li>
      <a href="{{ root_url }}/blog/categories/sci-log">Sci-Log</a>
    </li>
    <li>
      <a href="{{ root_url }}/blog/categories/distributed-computing">Distributed Computing</a>
    </li>
    <li>
      <a href="{{ root_url }}/blog/categories/diverses">Diverses</a>
    </li>
  </ul>
</section>